*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.blend {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav.blend ul li a {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    padding: 5px;
    
}
nav.blend ul li a:hover {
    color:#fff;
}
nav.blend ul li a:before,
nav.blend ul li a:after{
    position:absolute;
    width: 0%;
    height: 100%;
    top: 0;
    bottom: 0;
    background:#710627;
    transition: all .5s;
    margin: auto;
    content:'.';
    color: transparent;
    z-index: -1;
    opacity: 0.75;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
nav.blend ul li a:before {
    left: 0;
  }
  nav.blend ul li a:after {
    right: 0;
  }
  
  nav.blend ul li a:hover:after,
  nav.blend ul li a:hover:before {
    width: 100%;
  }
.list_film{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    width: 100%;
    box-sizing: content-box;
    background-color: rgb(206, 46, 46);
  
}
.list_film a {
    color: black; 
    padding-left: 50%;
    
}
.h1{
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 3%;
    background-color: #C6AB67;
    border-radius: 30%;
    text-align: center;
    padding: 3%;
    
}

.bulle_1{
    display: flex;
    justify-content: space-around;
}

.h2{
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 3%;
    background-color: #C6AB67;
    border-radius: 30%;
    text-align: center;
    padding: 3%
}

.h3{
    text-align: left;
}

.bulle_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image_acteurs{
    border-radius: 20%;
}

.pied_page{
    background-color: #000500;
    flex-direction: column;
    margin-top: 3%;
    color: white;
}

.horaires{
    margin-top: 1%;
   
}

.reseaux{
    display: flex;
    justify-content: flex-start;
    margin-top: 1%;
    
}

.imager{
    width: 50px;
    height: auto;
}

body{
    background-color: #DCC48E;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

/*Contact*/
#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
#contact h1 {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}
  
form {
    width: 60%;
}
  
.form-group {
    margin-bottom: 20px;
    margin-left: 5px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
input, textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}
  
button[type="submit"] {
    background-color: #f00;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
}
  
button[type="submit"]:hover {
    background-color: #d00;
}
  
#contact-info {
    width: 35%;
}
  
#contact-info h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}
 #contact-info p {
    font-size: 1.1em;
    margin-bottom: 10px;
}
.pied_contact{
    margin-left: 5px;
}
/*Films*/

.h2_films{
    margin-top: 2%;
    margin-bottom: 2%;
}
.films-section {
	margin-bottom: 50px;
}

.films-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.film-card {
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin-bottom: 20px;
	flex-basis: calc(33.33% - 20px);
}

.film-card img {
	width: 100%;
	height: auto;
}

.film-card h3 {
	margin-top: 10px;
	margin-bottom: 5px;
}

.film-card .film-info {
	font-size: 0.9em;
	margin-bottom: 10px;
}

.film-card .trailer-link {
	display: block;
	margin-bottom: 10
}

/* Acteurs */
#acteurs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #acteurs h1 {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .acteur {
    width: 30%;
    margin-bottom: 4%;
    padding: 20px;
    background-color: #C6AB67;
    border-radius: 30px;
    text-align: center;
  }
  
  .acteur img {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .acteur h2 {
    margin-bottom: 10px;
  }
  
  .acteur p {
    font-size: 1.1em;
  }
  
  .acteur ul {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .acteur ul li {
    margin-bottom: 5px;
  }
  
  .acteur a {
    color: #000500;
    font-weight: bold;
  }
.acteurs-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.acteurs-container{
    margin-top: 2%;
}